body {
    margin: 0;
    padding: 0;
    background-color: darkturquoise;
}

.container {
    padding: 2vh;
    width: fit-content;
    margin-top: 30px;
    border: 2px solid red;
    border-radius: 18px;
    background-color: black;
}

.btn {
    background-color: rgb(72, 0, 0);
    width: 250px;
    border: 1.5px solid blue;
    border-radius: 10px;
}

#pass,
#len {
    width: 250px;
    border: 1.5px solid blue;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.error {
    font-size: 30px;
    padding: 1vw;
    margin: 10px 0px 0px 10px;
    display: none;
    background-color: red;
    color: black;
    width: fit-content;
    border: 1.5px solid blue;
    border-radius: 10px;
}

.error1{
    text-align:center ;
    font-size: 20px;
    padding: 1vw;
    margin-left: 2vw;
    display: none;
    width:250px;
    background-color: red;
    color: white;
    border: 1.5px solid blue;
    border-radius: 10px;   
}

.card{
    color:white;
    margin-top: 20px;
    padding: 2vw;
}